@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url(style.css);

/* styling apply  */

body {
  width: 100vw;
  height: 100vh;
  background-color: #e8e8e8;
}

main {
  margin: 0;
  height: 84%;
  width: 100%;
  padding-top: 67px;
  box-sizing: border-box;
  overflow-y: auto;
}

/* disclaimer styling */
#disclaimerOverlay {
  background: transparent;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 11;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#loading {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#loading img {
  width: 700px;
}

#disclaimerContainer {
  max-width: 500px;
  width: 90vw;
  color: white;
  background-color: var(--HFbgcolor);
  border-radius: 10px;
  position: relative;
  transform: scale(0) translateY(-150%);
  transition: all 0.3s ease-in;
  user-select: none;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

#disclaimerContainer.show {
  transform: scale(1) translateY(0%);
}

.closeBtn {
  position: absolute;
  right: 0;
}

.closeBtn.icon {
  border: none;
  padding: 7px;
  border-radius: 0 0 0 10px;
  cursor: pointer;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgb(186 191 199 / 70%),
    -0.5px -0.5px 0px rgb(196 190 221), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.closeBtn.icon img {
  transition: all 0.2s ease-out;
  user-select: none;
}

.closeBtn.icon:hover img {
  transform: rotate(180deg);
}

.closeBtn.btn {
  padding: 8px 19px;
  bottom: 0;
  box-shadow: 0px 1px 8px 1px #6035c5de;
}

#disclaimers {
  box-sizing: border-box;
  width: 85%;
  height: 100%;
  padding: 9px 13px;
}

.disclaimer {
  list-style-position: inside;
  list-style-type: decimal;
  font-size: 18px;
  margin-block: 15px;
}

/* form styling start  Here  */

form {
  width: 90%;
  max-width: 650px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block: 100px 30px;
  margin-inline: auto;
}

#formNavigation {
  position: fixed;
  top: 76px;
  left: 25%;
  width: 50%;
  max-width: 580px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 7px;
  border-radius: 12px;
  z-index: 5;
}

#formNavigation a {
  font-size: 1em;
  height: 60px;
  color: #000;
  border-radius: 8px;
  text-align: center;
  line-height: 60px;
  flex-basis: 150px;
  box-sizing: border-box;
  padding-inline: 11px;
}

#formNavigation a:first-child {
  font-size: 0.9em;
  background-color: #fff;
}

#formNavigation a:hover {
  background-color: #ffff;
}

.fieldContainer {
  width: 100%;
  /* position: absolute; */
  min-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.fields {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.fields input {
  background-color: #ffffff;
  box-shadow: 0px 25px 70px -12px #000000;
  width: 100%;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
  padding: 12px 23px;
  outline: none;
  transition: all 0.2s ease;
}

.fields input:focus {
  border: 1px inset #000000cc;
}

.fields .errorField {
  color: #f22215;
  display: none;
}

/* handling error and success */
.fields.success input {
  border: 1px solid #29df46;
}

.fields.error input {
  border: 1px solid #f22215;
}

.fields.error .errorField {
  display: block;
}

/* removing incress Button from number Field */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.fields select {
  background-color: #ffffff;
  box-shadow: 0px 25px 70px -12px #000000cc;
  width: 100%;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
  padding: 12px 23px;
  outline: none;
  transition: all 0.2s ease;
}

.fields.selectField{
  position: relative;
} 

.fields .info{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  left: -23px;
  top: 14px;
}

.info i{
  cursor: help;
}

.info .tooltip{
  font-size: 10px;
  padding: 3px 5px;
  border-radius: 4px;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  line-height: 13px;
  display: none;
}

.fields .info i:hover + .tooltip{
  display: block;
}

.fields #genderField{
  background-color: #f5f5f594;
  padding: 17px 14px; 
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .06);
}

#genderField input[type="radio"]{
  position: absolute;
  visibility: hidden;
}

#genderField label{
  cursor: pointer;
  background-color: transparent;
  padding: 10px 13px;
  border-radius: 6px;
  font-size: 16px;
}

#genderField label:hover{
  background-color: #ffffff;

}

#genderField input[type="radio"]:checked + label{
  background: #ffffff;
}

#formBtn{
  margin-top: 50px;
  width: 100%;
}

#formBtn button{
  width: 100%;
  box-sizing: border-box;
  padding-block: 14px;
  color: white;
  background-color: #767676;
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 12px;
  transition: all .3s ease-out;
}

#formBtn button:hover{
  background-color: rgba(0, 0, 0, 0.8);
}