@import url(style.css);

body {
  width: 100vw;
}

#contactForm {
  margin-top: 70px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-inline: auto;
}

.input_field {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  max-width: 500px;
  width: 100%;
}

.input_field input {
  border: 1.5px solid gray;
  width: 100%;
  font-size: 18px;
  padding: 8px 14px;
  border-radius: 10px;
  outline: none;
}

.input_field input:focus{
  border-color: black;
}

.input_field.success input{
  border-color: #1fdb35;
}

.input_field.error input{
  border-color: #f31212;
}

.input_field textarea{
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  border: 1.5px solid gray;
  border-radius: 10px;
  outline: none;
  font-size: 18px;
  padding: 13px;
  resize: none;
}

.input_field.success textarea{
  border-color: #1fdb35;
}

.input_field.error textarea{
  border-color: #f31212;
}

.input_field label{
  padding: 7px 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  box-sizing: border-box;
  background-color: #80808045;
  font-weight: bold;
}

.input_field .err {
  color: #f31212;
  margin-top: 10px;
  margin-left: 4px;
  display: none;
}

.input_field.error .err{
  display: block;
}

.input_field .erricon{
  position: absolute;
  right: 9px;
  width: 18px;
  top: 12px;
  text-align: center;
}

.erricon .fa-solid{
  display: none;
}

.input_field.error .erricon .fa-circle-xmark{
  display: block;
}

.input_field.success .erricon .fa-circle-check{
  display: block;
}


#load{
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /*optional: removes extra spacing*/
}