@import url(style.css);

body {
  width: 100vw;
}

main{
  margin-block: 0 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 60px;
  gap: 30px;
}

#laptopImage{
  width: 50%;

}

#laptopImage img{
  width: 100%;
}

#contactDetails{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

#heading h1{
  font-size: 48px;
}

#details{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.detail{
  width: 50%;
  box-sizing: border-box;
  margin-inline: 15px;
}

.detail h2{
  color: #F89955;
}