@import url(style.css);

* {
    margin: 0;
    padding: 0;
}

/* welcome section styling */

.heading_sec {
    background: url(../media/images/welcome.webp);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 500px 100%;
    margin-top: 35px;
    width: 100vw;
    height: 100%;
}

.welcome_con {
    overflow-x: hidden;
    font-size: 25px;
    font-family: "Tilt Prism Display",serif, emoji, sans-serif;
    width: 53vw;
    height: 100%;
    text-align: center;
    margin: 55px 0px 20px 70px;
    padding: 12px 2px;
}
.welcome_con p{text-align: justify ;}
.wellcome {
    width: 550px;
    margin: auto;
    text-align: start;
    padding: 6px 6px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.welcome_con button a {
    text-decoration: none;
    color: white;
}
.welcome_con button {
    cursor: pointer;
    background-color: var(--HFbgcolor);
    color: white;
    font-size: 20px;
    border-radius: 6px;
    height: 36px;
    width: 130px;
    margin: 30px 0px;
    border: none;
    transition: all .3s linear;
}

.welcome_con button:hover{
    background-color: var(--hoverBGcolor);
}

.auto-text {
    font-size: 25px;
    color: var(--HFbgcolor);
}

/* styling catagories */
#cataheading {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 50px;
}

#cata-heading {
    width: 100vw;
    text-align: center;
    font-size: 30px;
}

#catagories {
    width: 90vw;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#catagories .cata_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    width: 390px;
    background-color: rgba(93, 81, 201, 0.377);
    margin: 26px 8px 20px 0px;
    border-radius: 9px;
    transition: all .6s;
}

#catagories .cata_container:hover{
    background-color: var(--HFbgcolor);
    color: var(--HFcolor);
}

#catagories img {
    width: 100%;
    border-radius: 9px;
}

.text {
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
}
.text h3 {
    padding: 6px 0px;
}
