/* for tablet and mobile devices */
@media screen and (max-width: 1088px) {
    .heading_sec{
        flex-direction: column;
        justify-content: flex-start;
        gap: 11%;
        padding-bottom: 0;
        /* margin-top: 35px; */
    }

    .heading_sec img{
        width: 100%;
    }

    .heading_sec .welcome_con{
        width: 90%;
    }
}

@media screen and (max-width: 690px) {
    /* styling nav bar for responsive */

    
    .heading_sec{
        height: 90vh;
    }
    
    header nav{padding: 10px;}
    
    #sidenav ul li a{
        font-size: 23px;
    }

    .nav-hide {
        display: none;
    }
    
    #menu {
        display: block;
    }
    
    #catagories .cata_container {
       box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    }
    
    
    #catagories .card-button{
        opacity: 1;
        transform: translate(-50%, 50%);
    }
    .inputs::placeholder{
      font-size: 15px;
    }
   

   div#foldicon{
    display: block;
   }

   div#courses{
    left: 100%;
   }

   /* contact form  */
   #contactForm{
    margin-top: 30px;
   }

   #sendBtn{
    margin-bottom: 25px;
   }
}


/* only for mobile devices */
@media only screen and (max-width: 455px) {

    .welcome_con{
        font-size: 19px;
    }

    .auto-text{
        font-size: 19px;
    }

    footer{
        flex-direction: column;
    }
    
    #disclaimer_content ul li p{
        font-size: 25px;
    }

    #formtitle{
        margin: 7% auto;
    }

    .input_field{width: 100%;}

    #imageSlider{
        height: 45vh;
    }
    
    .control img{
        filter: invert(1);
    }
}
