/* for tablet and mobile devices */
@media screen and (max-width: 1088px) {
    .heading_sec{
        flex-direction: column;
        justify-content: flex-start;
        gap: 11%;
        padding-bottom: 0;
        /* margin-top: 35px; */
    }

    .heading_sec img{
        width: 100%;
    }

    .heading_sec .welcome_con{
        width: 90%;
    }
}

@media screen and (max-width: 690px) {
    /* styling nav bar for responsive */

    header nav{padding: 10px;}
  
    #sidenav ul li:last-child a{
      font-size: 20px;
    }

    .nav-hide {
        display: none;
    }

    #menu {
        display: block;
    }


    .cata_container {
        margin: 6px;
    }
    
    .inputs::placeholder{
      font-size: 15px;
    }
   

   div#foldicon{
    display: block;
   }

   div#courses{
    left: 100%;
   }

   /* contact form  */
   #contactForm{
    margin-top: 30px;
   }

   #sendBtn{
    margin-bottom: 25px;
   }
}


/* only for mobile devices */
@media only screen and (max-width: 455px) {

    footer{
        flex-direction: column;
    }
    
    #disclaimer_content ul li p{
        font-size: 25px;
    }

    #formtitle{
        margin: 7% auto;
    }

    .input_field{width: 100%;}

    #imageSlider{
        height: 45vh;
    }
    
    .control img{
        filter: invert(1);
    }
}
